.modal {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    padding: 20px;

    /* 컨테이너가 화면 전체를 덮게 하는 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 컨텐츠를 중앙에 배치하게 하는 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 서서히 나타나게 하는 효과 */
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.modal.on {
    /* 모달이 열렸을 때 보여지게 하는 */
    opacity: 1;
    pointer-events: auto;
}

.close_btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--button-color);
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

.modal_content {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--modal-bg-color);
    border-radius: 20px;
    opacity: 0.8;
}

.modal_box {
    opacity: 0.8;
}

.modal_top {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid gray;
}

.modal_bottom {
    width: 100%;
    height: 40%;
    padding-top: 2%;
    /* display: flex; */
    position: relative;
}




.carousel button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: gray;

    position: absolute;
    transition: 0.5s;
    font-size: x-large;

}
.carousel button:hover {
    color: #fff;
}

/* .prev_btn {
    top: 80%;
    left: 20px;
}

.next_btn {
    top: 80%;
    right: 20px;
} */
