.swiper-container {
    height: 100%;
    /* border: 5px solid silver; */
    border: none;
    /* border-radius: 7px; */
    /* box-shadow: 0 0 20px #ccc inset; */
    margin-inline-start: 10%;
    margin-inline-end: 10%;

    z-index: 2;
}
.swiper-slide {
    text-align: center;
    display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
    box-shadow: 0 0 5px #555;
    max-width: 100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}

.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    padding: 15px 5px;
    border-radius: 20px;
    color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
